
body{
font-family: Arial, Helvetica, sans-serif;
margin: 0 0;
background: linear-gradient(180deg, rgba(156,211,156,1) 26%, rgba(255,255,255,1) 83%);background-repeat: no-repeat;
}

header div{
    width: 100%;
    background-color: #9cd39c;
    margin: 0 0;
    text-align: center;
}
header button{
    color: white;
    padding: 1rem;
    font-size: 2rem;
    margin: 0.5rem;
    background-color: transparent;
    }
    header button:hover{
        color: black;
        cursor: pointer;
        background-color: rgb(231, 243, 231);

    }
.container{
    display: flex;
    flex-wrap: wrap;
}
.container div {
    text-align: center;
    width: 25%;
    border: 1px solid green;
    margin: 2rem;
    border-radius: 10px;
}
.container button{
font-size: 1.5rem;
padding: 0.8rem;
margin-bottom: 1rem;
}
.container button:last-child{
    background-color: red;
    color: white;
    }
    .container button:last-child:hover{
        background-color: rgb(160, 15, 15);
        }

form {
    display: flex;
    flex-direction: column;
}
form input{
    width: 30%;
     margin: 0.2rem;
     padding: 0.5rem;
}
.istruzXme{
    width: 30%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(175, 195, 214);
}